a,
a label {
  cursor: pointer;
}

.custom-state-list{
    float: left;
    width: auto;
    a{
        &:first-child{
            margin-right: 2px;
        }
    }
    .fa{
        margin: 0!important;
        float: none!important;
        vertical-align: middle;
    }
    .dropdown-menu{
        width: 181px;
        left: 0;
        padding: 10px;
        li{
            position: relative;
            &:first-child{
             .form-control{
                background: #F4F4F4;
                position: relative;
                padding: 6px 25px;
                height: auto;
                width: 165px !important;
             }
             i{
                 position: absolute;
                 top: 10px;
                 left: 5px;
             }
             margin-bottom: 8px;
            }
            &:last-child{
            height: 200px;
            float: left;
            width: 178px;
            overflow: auto;
            a{
                padding: 0 12px;
                &:hover{
                    border-radius: 0;
                    color: #3F93C2;
                    background: url(/assets/images/tick-drop.png) 0 8px no-repeat;

                }
            }
        }
        }
    }
}