.my-modal {
    border: solid 4px blue !important;
}

.my-modal .modal-header {
    background-color: lime !important;
}

.my-modal .modal-body {
    background-color: orange !important;
}
.my-modal .fade .in {
   background-color: transparent !important;
}