.btn {
    background: #3F93C2;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    border: none;
    padding: 0 5px;
    width: 120px;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid #3F93C2;
}