<div>
  <div class="modal-header mod-header text-center">
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true"><img src="../../assets/images/close-model.png" alt="close" /></span>
    </button>
    <a>
      <div class="show-desktop">
        <svg width="144px" height="38px" viewBox="0 0 144 38" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
          <title>Trunums</title>
          <!-- <desc>Created with Sketch.</desc> -->
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="create_poll_question-edit" transform="translate(-150.000000, -17.000000)">
              <g id="Group-14" transform="translate(150.000000, 17.000000)">
                <g id="Group-30">
                  <path
                    d="M17.5518805,0 L0,4.68519643 L0,33.0667857 L17.5518805,37.5480714 L35.1034287,33.0667857 L35.1034287,4.68519643 L17.5518805,0 Z M17.812311,6.47487082 L17.812311,6.46808511 L17.7913815,6.47147796 L17.7707842,6.46808511 L17.7707842,6.47487082 L4.80645161,8.65783511 L4.80645161,13.8774065 L14.3802046,13.5462637 L14.3802046,30.0715137 L17.7707842,30.8260851 L17.7707842,30.8352458 L17.7913815,30.8304958 L17.812311,30.8352458 L17.812311,30.8260851 L21.2028906,30.0715137 L21.2028906,13.5462637 L30.7763114,13.8774065 L30.7763114,8.65783511 L17.812311,6.47487082 Z"
                    id="Combined-Shape" fill="#FF810A"></path>
                  <g id="Group" transform="translate(43.852294, 3.732143)"></g>
                  <g id="Group" transform="translate(44.516722, 26.464286)"></g>
                </g>
                <g id="Group-18" transform="translate(41.437439, 1.864066)">
                  <g id="Group-33">
                    <text id="truNums" font-family="Gotham-Bold, Gotham" font-size="23.0399994" font-weight="bold"
                      letter-spacing="0.523636341">
                      <tspan x="0" y="18" fill="#4E4E4E">tru</tspan>
                      <tspan x="35.1171481" y="18" letter-spacing="0.527298117" fill="#FF810A">Nums</tspan>
                    </text>
                    <text id="Where-truth-always-w" font-family="Gotham-Medium, Gotham" font-size="6.98000031"
                      font-weight="400" letter-spacing="0.077692315" fill="#4E4E4E">
                      <tspan x="1.60215054" y="30.2553191">Where the truth always wins.</tspan>
                    </text>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>

      </div>
      <div class="m-show-desktop">
        <svg width="144px" height="38px" viewBox="0 0 144 38" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
          <title>Trunums</title>
          <!-- <desc>Created with Sketch.</desc> -->
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="create_poll_question-edit" transform="translate(-150.000000, -17.000000)">
              <g id="Group-14" transform="translate(150.000000, 17.000000)">
                <g id="Group-30">
                  <path
                    d="M17.5518805,0 L0,4.68519643 L0,33.0667857 L17.5518805,37.5480714 L35.1034287,33.0667857 L35.1034287,4.68519643 L17.5518805,0 Z M17.812311,6.47487082 L17.812311,6.46808511 L17.7913815,6.47147796 L17.7707842,6.46808511 L17.7707842,6.47487082 L4.80645161,8.65783511 L4.80645161,13.8774065 L14.3802046,13.5462637 L14.3802046,30.0715137 L17.7707842,30.8260851 L17.7707842,30.8352458 L17.7913815,30.8304958 L17.812311,30.8352458 L17.812311,30.8260851 L21.2028906,30.0715137 L21.2028906,13.5462637 L30.7763114,13.8774065 L30.7763114,8.65783511 L17.812311,6.47487082 Z"
                    id="Combined-Shape" fill="#FF810A"></path>
                  <g id="Group" transform="translate(43.852294, 3.732143)"></g>
                  <g id="Group" transform="translate(44.516722, 26.464286)"></g>
                </g>
                <g id="Group-18" transform="translate(41.437439, 1.864066)">
                  <g id="Group-33">
                    <text id="truNums" font-family="Gotham-Bold, Gotham" font-size="23.0399994" font-weight="bold"
                      letter-spacing="0.523636341">
                      <tspan x="0" y="18" fill="#4E4E4E">tru</tspan>
                      <tspan x="35.1171481" y="18" letter-spacing="0.527298117" fill="#FF810A">Nums</tspan>
                    </text>
                    <text id="Where-truth-always-w" font-family="Gotham-Medium, Gotham" font-size="6.98000031"
                      font-weight="400" letter-spacing="0.077692315" fill="#4E4E4E">
                      <tspan x="1.60215054" y="30.2553191">Where the truth always wins</tspan>
                    </text>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </a>
  </div>
  <div class="modal-body">
    <div class="mod-body-cont">
      <!-- <p>Sign in or Register to TruNums before answering the poll</p> -->
      <p style="color:#DF6164"></p>
      <div class="login-fb text-center margin-top-30">
        <a *ngIf="!showSignup" style="cursor: pointer;" class="log-in-fb" (click)="facebookLogin()">LOG IN WITH FACEBOOK</a>
        <a *ngIf="showSignup" style="cursor: pointer;" class="log-in-fb" (click)="facebookLogin()">SIGN UP WITH FACEBOOK</a>
        <div class="clear"></div>
        <a *ngIf="!showSignup" style="cursor: pointer;" class="log-in-gl" (click)="googleLogin()">LOG IN WITH GOOGLE</a>
        <a *ngIf="showSignup" style="cursor: pointer;" class="log-in-gl" (click)="googleLogin()">SIGN UP WITH GOOGLE</a>
      </div>
      <div class="clear"></div>
      <h3 class="text-center margin-top-20">OR</h3>

      <form *ngIf="!showSignup" [formGroup]="SignInForm" class="margin-top-20 sign-up-modal" (ngSubmit)="modalLogin()"
        novalidate>

        <h3 class="text-center" style="color:#DF6164">{{loginError}}</h3>
        <div
          class="text-center" role="alert">
          <h3
            *ngIf="SignInForm.controls['email'].errors?.required || SignInForm.controls['password'].errors?.required ||SignInForm.controls['email'].errors?.email 
            &&(SignInForm.controls['email'].touched || SignInForm.controls['password'].touched)"
            style="color:#DF6164">Please enter Username/Email and Password</h3>
        </div>

        <div class="form-group margin-top-10">
          <input class="form-control" placeholder="Username/Email" formControlName="email" name="email"
            autocomplete="username" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password"
            autocomplete="current-password" required />
        </div>
        <a (click)="navtoForgotPage()" [routerLink]="['/forgot']" class="forgot-pws">Forgot Username or Password?</a>
        <div class="clear"></div>
        <div class="text-center margin-top-30">
          <button type="submit" class="sign-in">SIGN IN</button>
        </div>
      </form>

      <form *ngIf="showSignup" class="margin-top-20 sign-up-modal" [formGroup]="SignUpForm" (ngSubmit)="modalSignup()"
        novalidate>
        <div class="form-group">
          <input class="form-control" placeholder="Email" formControlName="email" name="email" required />
        </div>
        <h3 class="text-center" style="color:#DF6164">{{exists}}</h3>
        <div
          class="text-center" role="alert" class="text-center" role="alert">
          <h3 *ngIf="SignUpForm.controls['email'].errors?.required" style="color:#DF6164">Please enter Email Address
          </h3>
          <h3 *ngIf="SignUpForm.controls['email'].errors?.email" style="color:#DF6164">Please enter valid Email Address
          </h3>
        </div>
        <div class="clear"></div>
        <div class="text-center margin-top-30">
          <button type="submit" class="sign-in">SIGN UP</button>
        </div>
      </form>

    </div>
    <div class="clear"></div>
  </div>
  <div *ngIf="!showSignup" class="modal-footer margin-top-20">
    <p class="text-center">Don’t have a truNums Account?
      <a style="cursor: pointer;" (click)="changeSignup(true)"> Sign up
      </a>
      its easy and free.</p>
  </div>
  <div *ngIf="showSignup" class="modal-footer margin-top-20">
    <p class="text-center">Already a member?
      <a style="cursor: pointer;" (click)="changeSignup(false)">Sign In</a>
    </p>
  </div>
</div>
<!-- <div *ngIf="loading" id="loaderDiv">
  <img src="../../assets/images/loading.gif" class="ajax-loader" />
</div> -->