.date-fixed-on {
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  width: 100%;

}

.myinput {
  border: none;
  padding: 0 10px;
}

// .range-sld {
//   float: left;
//   margin: 11px 19px !important;
// }
// .low-high {
//   float: left;
//   margin-left: 33px;
//   position: relative;
//   width: 100%;
// }
.inputcustom{  
    width: 100% !important; 
    text-align: left !important;  
}
.inputcustom2{  
  width: 50% !important;  
  margin-left: 2px !important;
}
.low-high{
  margin-left: 22px !important;
  width: 98% !important;
}
.back2
{
  background-color: red;  
}
.back1
{
  background-color: yellow;  
}