
<!-- In feed ad starts -->
<div *ngIf="adType === 'feed'">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2338041741622922"
     crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-6i+cf+36-k+3z"
        data-ad-client="ca-pub-2338041741622922"
        data-ad-slot="8774121446">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- In feed ad ends -->

<!-- Home horizontal ad starts -->
<div *ngIf="adType === 'home'">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2338041741622922"
     crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle"
        style="display:block; height: 140px !important;"
        data-ad-client="ca-pub-2338041741622922"
        data-ad-slot="4673388048"
        data-ad-format="auto"
        data-full-width-responsive="true">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- Home horizontal ad ends -->

<!-- Search ad starts -->
<div *ngIf="adType === 'search'">
    <script async src="https://cse.google.com/cse.js?cx=50bdf61b774203261"></script>
    <div class="gcse-search"></div>
</div>
<!-- Search ad ends -->

<!-- Comment section article ad starts -->
<div *ngIf="adType === 'comment'">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2338041741622922"
     crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2338041741622922"
        data-ad-slot="9957504311">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- Comment section article ad ends -->

<!-- Vertical ad starts -->
<div *ngIf="adType === 'vertical'">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2338041741622922"
     crossorigin="anonymous"></script>
    <!-- Vertical Ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2338041741622922"
        data-ad-slot="3208336511"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- Vertical ad ends -->