body {
    color: $txtcolor;
    font-family: $font-stack;
    background: $body-bg;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}
.clear {
	clear: both;
}

.margin-left {
    margin-left: $margin + 5px;
}

.margin-right {
    margin-right: $margin + 5px;
}

.margin-left-right {
    margin: 0 $margin;
}

.margin-top-10 {
    margin-top: $margin !important;
}

.margin-top-20 {
    margin-top: $margin + 10px;
}

.margin-top-30 {
    margin-top: $margin + 20px;
}
.chat-wrapper {
	margin-top: 70px;
	background: #FFF;
}
.margin-top-100 {
    margin-top: $margin + 90px;
}

.clear {
    clear: both;
}
.iti.iti--container {
    z-index: 1200;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: $primary-color;
    font-size: $fontSize + 6px;
    line-height: 30px;
    font-weight: $fontweight-semibold;
    margin: 0 0 5px;
    font-family: $font-caps;
    letter-spacing: $letter-spacing;
}

h2 {
    color: $primary-color;
    font-size: $fontsize-nav + 1px;
    line-height: 24px;
    font-weight: $fontweight-semibold;
    margin: 0;
    font-family: $font-caps;
}

h4 {
    color: $blue-color;
    font-size: $fontsize-nav + 1px;
    line-height: 24px;
    font-weight: $fontweight-semibold;
    margin: 0;
    word-break: break-word;
}

h3 {
    color: $primary-color;
    font-size: $fontSize;
    line-height: 24px;
    font-weight: $fontweight-semibold;
    margin: 0;
    word-break: break-word;
}

h5 {
    color: $primary-color;
    font-size: $fontsize-nav;
    line-height: 24px;
    font-weight: $fontweight-semibold;
    margin: 0;
}


.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.more-link {
    font-size: $fontSize;
    font-family: $font-caps;
    font-weight: $fontweight-semibold;
    float: right;
    text-decoration: underline;
}

.sign-in {
    background: $blue-color;
    color: $text-color-white;
    font-size: $fontSize;
    font-weight: $fontweight-bold;
    margin-left: 5px;
    height: 45px;
    border: none;
    padding: 0 10px;
    width: 159px;
    border-radius: $border-radius;
    border: 2px solid $blue-color;
}

.btn-bg-white {
    background: $bg-color-white;
    color: $blue-color;
}

.error-msg {
    font-weight: $fontweight-bold;
    color: #DF6164;
    margin-top: 3px;
    background: none !important;
    font-size: $fontsize-nav;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.fade.in {
    background-color: rgba(18, 35, 48, 0.7);
}

.form-control {
    line-height: 20px;
    font-size: $fontSize;
    height: 45px;
    color: $primary-color;
    box-shadow: none;
    border: 1px solid #D1D1D1;
    font-weight: $fontweight-semibold;
}

.sign-up-modal .form-control {
    line-height: 20px;
}

.sign-up-modal {
    h3 {
        word-break: normal;
    }
}

.select-style.sing-up-style {
    width: 75%;
    float: left;
}

.create-poll-main .select-style.ui-select-container {
    width: 226px;
}

.select-style .form-control {
    line-height: 28px;
    width: 100% !important;
}

.form-control:focus {
    border-color: #d1d1d1;
    box-shadow: none;
    outline: 0 none;
}

textarea:focus {
    box-shadow: none;
    outline: 0 none;
}

.pos-rel {
    position: relative;
    width: 223px;

    .select-style {
        background: url(/assets/images/select-bg.png) no-repeat right 50%;

        select {
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            -moz-outline: none;
            padding-right: 20px;
            line-height: 32px;
        }

        option {
            padding: 0 15px;

            &:hover, &:checked {
                background: url(/assets/images/select-opc.jpg) repeat 0 0;
            }
        }
    }
}

.select-style select:focus, .select-style select:hover {
    outline: none;
    -moz-outline: none;
    outline-color: #FFF;
}

.save {
    width: 100px;
}

.poll-qus {
    position: relative;
    padding: 0;
    float: left;
    width: 100%;

    p {
        font-size: $fontSize + 4px;
        color: $primary-color;
        font-weight: 600;
        float: left;
    }

    p.color-blu {
        font-size: $fontSize + 2px;
        color: $blue-color;
    }

    span {
        font-size: $fontSize + 4px;
        color: $primary-color;
        font-weight: 600;
        color: $blue-color;
        float: left;
        width: 30px;
    }

    a {
        position: absolute;
        right: 0;
        top: 0;
        background: #D8D8D8;
        text-align: center;
        padding: 9px 14px;
        border-radius: $border-radius;

        &:hover {
            background: $blue-color;
        }
    }

    a.active {
        background: $blue-color;
    }

    .pos-rel {
        .date-flc {
            width: 100%;
            padding: 0;

            span {
                width: 100% !important;
                float: left !important;

                input {
                    width: 100%;
                }
            }
        }
    }

    .create_poll_enterquestion {
        float: left;
        width: 100%;
        border-left: $border-color;
        min-height: 50px;

        textarea {
            width: 100%;
            border: none;
            padding: 10px 0 0 15px;
            font-size: $fontSize + 4px;
            color: $primary-color;
            font-weight: 600;
        }
    }

    .add-more-dtls {
        width: 100%;
        border: $border-color;
        border-radius: $border-radius;
        padding: 10px;
        margin-bottom: 20px;

        textarea {
            height: 50px;
            border: 0;
            overflow: auto;
            width: 100%;
            word-break: normal;
        }

        .art-txt {
            width: 100%;
            float: left;

            a {
                background: none;
                float: left;
                padding: 0;
                color: $primary-color;
            }
        }
    }

    .add-more-dtls.add-img-box {
        background: #FFF;
        padding: 20px;
        position: relative;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            width: auto;
        }

        .close-btn.m-close-btn {
            right: 3px;
            top: 2px;
        }

        .cptn-tile {
            font-size: 14px;
            font-weight: 400;
            padding-right: 0;
        }
    }

    .edit-buttons {
        float: left;
        width: 100%;

        ul {
            float: left;
            width: 100%;

            li {
                margin: 0 20px 0 0;
                position: relative;
                float: left;

                .edit-btn {
                    a {
                        width: 20px;
                        height: 20px;
                        padding: 0;
                        text-align: center;
                        line-height: 16px;
                        border-radius: 50%;
                        top: -10px;
                        right: -7px;

                        &:hover {
                            background: #3F93C2;
                        }
                    }

                    a.active {
                        background: #3F93C2;
                    }
                }

                bdo {
                    width: auto;
                    margin-right: 10px;

                    input {
                        width: 21px;
                        height: 21px;
                    }

                    span {
                        width: auto;
                    }
                }

                input {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    font-size: $fontsize-nav;
                    font-weight: 600;
                    font-family: $font-caps;
                    padding: 0 20px;
                    height: 26px;
                    line-height: 26px;
                    float: left;
                    text-align: center;
                    border-radius: $border-radius;
                    width: 100%;
                    text-transform: uppercase;
                }
            }
        }
    }

    .art-txt {
        width: 100%;
        float: left;

        a {
            background: none;
            float: left;
            padding: 3px 0 0;
            position: relative;
            font-weight: 600;
        }
    }

    strong {
        a {
            position: relative;
            background: none;
            text-align: left;
            padding: 0;
            border-radius: 0;
            word-break: break-all;
        }
    }
}

.comment-main {
    margin: 10px 0 0 0;

    .comments-box {
        position: relative;
        display: inline-block;
        width: 100%;
        position: relative;
        padding: 0 6px;

        span {
            float: right;
            margin-top: 15px;
            color: $primary-color;
            font-weight: $fontweight-semibold;
        }

        .commen-view-all {
            float: left;
            margin-top: 15px;
        }

        .comment-list {
            float: left;
            width: 100%;

            .cmnt-pic {
                float: left;
                width: 11%;
                margin-right: 2%;
                margin-top: 5px;

                img {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                }
            }

            .cmnt-text {
                background: $bg-color-white;
                float: right;
                padding: 10px;
                width: 87%;
                position: relative;

                a {
                    font-weight: $fontweight-semibold;
                    font-size: 12px;
                    width: 70%;
                    float: left;
                    word-break: break-all;

                    .cmnt-time {
                        position: absolute;
                        right: 20px;
                        top: -6px;
                        color: $dark-color;
                    }
                }

                p {
                    font-size: 12px;
                    margin-top: 10px;
                    margin-bottom: 0;
                    width: 100%;
                    float: left;
                    word-break: break-word;
                    white-space: pre-wrap;
                    font-weight: $fontweight-semibold;
                }
            }
        }
    }
}

.link-paste {
    width: 100%;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .img-comment {
        width: 30%;
        FLOAT: LEFT;
        margin-right: 2%;

        img {
            width: 100%;
            height: auto;
            float: left;
        }
    }

    .cont-bg-color {
        float: right;
        width: 67%;

        p {
            font-size: 14px;
        }
    }
}

.url-paste {
    width: 100%;
    float: left;

    .img-comment {
        img {
            width: 100%;
            height: auto;
        }
    }

    .cont-bg-color {
        width: 100%;

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.box-02 {
    float: left;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
}

.inline-display {
    display: inline;
}

.box-02 > label {
    display: inline-block;
    font-weight: 400;
    line-height: 30px;
    margin-left: 0;

    img {
        display: inline-block;
        margin: -3px 5px 0 0;
    }

    span {
        display: inline-block;
        line-height: 30px;
        font-size: 14px;
    }
}

.m-text-area {
    line-height: 20px !important;
}

.close-btn.close {
    width: 23px;
    height: 23px;
}

.img-left h4 {
    width: 92%;
    line-height: 14px;
    margin-top: 5px;
}

.footer {
    width: 100%;
    background: #FFF;
    margin: 20px 0 0;
    padding: 15px 0 10px;

    a {
        padding: 0;
        font-size: 12px;
        line-height: 30px;
        color: #337ab7;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin: 0 0 0 30px;
    }
}

.card-comment img {
    height: auto;
    width: 23px;
}

.card-follow a img {
    width: 20px;
    height: auto;
}

textarea.form-control {
    line-height: 20px !important;
}

.m-sign-up {
    .form-group {
        position: relative;

        .error-msg {
            left: 25%;
            position: absolute;
            font-size: 11px;
            top: 43px;
        }
    }
}

.error-msg.mv-error-msg {
    color: #df6164 !important;
    font-size: 14px;
}

.background-content {
    height: 100%;
    overflow: auto;
}

.card-box.margin-top-20.dummyclass {
    background: #f4f4f4 none repeat scroll 0 0;
}

i.active {
    color: #ff0000;
}

i.flag-icon {
    cursor: pointer;
}

.comment-main .comments-box .comment-list .cmnt-text a .cmnt-time2 {
    position: absolute;
    top: -6px;
    right: 20px;
}

.delete-icon {
    margin-right: 15px;
}

.pad-o-btn {
    padding: 6px 12px;
}

.margin-btm-100 {
    margin-bottom: 100px;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.emoji-picker-icon {
    font-size: 20px;
    right: 86px;
    top: 17px;
}

.img-wdth-hgt {
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
    margin-bottom: 13px;
}
.brk-wrd {
    word-break: break-all;
}


.img-sameline {
    float: left;
    width: 100%;
}

.poll-emoji-box {
    display: inline-block;
    width: 20%;
    margin-left: 20px;
    font-size: 12px;
}

.fr-ds-ply{
    position: absolute;
    left: 111px;
    width: auto !important;
    height: 38px !important;
    border-radius: 0 !important;
    z-index: 10;
    margin-top: 60px;
    background: none!important;
}
.mr-tp-bt-0{
    margin:  11px 0!important;
    position: relative;
    .liv-actv-fcsd{
        position: absolute;
        background: #F8F8F8;
        width: 28px;
        height: 28px;
        top: 8px;
        border-radius: 5px;
        left: 10px;
        opacity: 1;
        &::after{
            position: absolute;
            display: inline-block;
            content: '';
            width: 10px;
            height: 10px;
            background: #E43E3B;
            left: 9px;
            border-radius: 50%;
            top: 9px;
        }
    }
}
.pdng-tp{
    padding-top: 40px;
}
.fr-vido{
    width: 100%;
    height: auto;
}
.lv-fucs{
    position: relative;
    a{
        &::after{
            position: absolute;
            display: inline-block;
            content: '';
            width: 5px;
            height: 5px;
            background: #E43E3B;
            border-radius: 50%;
            left: 25px;
        }
    }
}
.img-sameline{
    position: relative;
  }

  .pstn-abslts{
    position: absolute;
    top: 33%;
    z-index: 100;
    opacity: 1;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .pstn-abslts img{
    max-width: 100%;
    max-height: 95px;
  }
  .comment-upload{
      position: relative;
      .file{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        bottom: 0;
        left: 0;
      }
      label{
          margin: 0;
      }
  }
//   comment-box
  .multpl-cmn{
    display: inline-block;
    width: 22%;
    text-align: left;
    margin: 10px 3% 0 0;
    img{
        margin-bottom: 0;
    }
   video, audio{
        width: 100%;
    }
  }
// retruth svg and tooltip styles
.retruth-main{
    img{
        vertical-align: middle;
        width: 28px;
    }
}
  .retruth-white{
    display: none;
  }
  .retruth-main:hover .retruth{
    display: none;
  }
  .retruth-main:hover .retruth-white{
    display: block;
    line-height: 20px;
    height: 20px;
  }
  .tooltip.ng-scope.ng-isolate-scope.top.fade.in{
      z-index: 0;
  }
  .tooltip-inner{
      background: $bg-color-white!important;
      color: $btn-bg-dark!important;
      padding: 8px 11px!important;
      font-size: 12px;
      font-weight: 400;
      box-shadow: 2px 2px 1rem rgba(0,0,0,0.11)!important;
  }
  .tooltip.top .tooltip-arrow{
    border-top-color: $bg-color-white!important;
  }
//   retruthd topic
  .tpc-retruth{
      background: #F8F8F8!important;
  }
  .retuthed-topic{
      float: left;
      width: 100%;
      padding:0 10px;
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      color: #656565;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      img{
          width: 27px;
          height: auto;
      }
  }

  .preview{
      float: left;
      width: 100%;
  }
  .previewDatas{
    background: #FFF;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    li{
      //   display: inline-block;
        position: relative;
		margin: 10px;
		width: 100%;
        img{
            // max-width: 100%;
            // max-height: 150px;
            width: 87%;
            vertical-align: baseline;
		}
		video {
			width: 87%;
		}
        .previewControlss{
            position: absolute;
            margin: 0;
            top: -14px;
            right: 0;
            .circle{
                background: rgba(0,0,0,0.2);
            }
            i.fa-close{
                top: 0px;
                left: 5px;
            }
        }
    }
}
.pstn-relative{
    position: relative;
}
.comnts-post{
    li{
        img{
            max-height: 100%;
        }
        audio{
            max-width: 187px;
        }
        video{
            max-height: 100px;
        }
        .circle{
            width: 25px;
        i.fa-close{
            top: -4px;
            left: 6px;
        }
    }
    }
}
.flex-end{
    align-items: flex-end;
    li{
        margin:0 8px 10px 0;
        .img-wdth-hgt{
            margin-bottom: 0;
        }
        video{
            width: 140px;
        }
        audio{
            width: 600px !important;
        }
        img{
            max-height: 100%;
        }

    }
}
.main-modal{
    float: left;
    width: 100%;
    .img-responsive{
        width: 100%;
    }
.previewControlss{
    position: absolute;
    margin: 0;
    top: -14px;
    right: -17px;
    .circle{
        background: rgba(0,0,0,0.2);
    }
    i.fa-close{
        top: 0px;
        left: 5px;
    }
}
}
.display-flax {
	display: flex;
}
.btn-common {
	border: 1px solid $txtcolor;
    color:$txtcolor;
    background: $text-color-white;
    margin-right: 4px;
    min-width: 80px;
}
.btn-common.blue-border {
	border: 1px solid $blue-color;
    color:$blue-color;
}

.search-dropdown.dropdown-menu > li > a {
    white-space: normal !important;
}

.search-dropdown.dropdown-menu {
    max-height: 300px; overflow: auto;
}

.poll-emoji-box.edit-poll-emoji input {
    display: block !important;
}

.edit-poll-emoji .emojionearea {
    display: none !important;
}

audio {
    width: 100%;
    outline: none;
}
audio::-webkit-media-controls-volume-control-container {
    display: none !important;
}
audio::-webkit-media-controls-enclosure {
    border-radius: 0;
}

audio::-webkit-media-controls-current-time-display {
    padding-top: 30px;
}
audio::-webkit-media-controls-time-remaining-display {
    padding-top: 30px;
}
audio::-webkit-media-controls-timeline {
    margin-left: -83px;
    margin-right: -23px;
}

.cookieModal {
    position: absolute !important;
    bottom: 20px !important;
}

.ng2-dropdown-menu {
	z-index: 9999 !important;
  }


.skltn-picture {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 24px;
    &_right {
        flex-direction: row-reverse;
    }
    &__img {
        width: 50px;
        height: 50px;
    }
    &__userName {
        width: 160px;
        height: 14px;
        margin-top: 16px;
        margin-left: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__caption {
        // width: calc(100% - 90px);
        margin-left: 60px;

    }
    &__line {
        height: 16px;
        margin-top: 18px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__place {
        width: 100px;
        height: 13px;
        margin-top: 13px;
        margin-left: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.skltn-card {
    background: #FFF;
    border-radius: 3px; 
    border: 1px solid #D8D8D8;
    height: 250px;
    width: 100%;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%)
}
.mat-calendar-body-selected {
  background-color: #f1933a ;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0;
    padding: 0
}

.calender-box {
    mat-form-field {
        width: 120px;
        margin: 0 5px;
        .mat-form-field-infix {
            position: none;
            width: 96px;
        }
     .mat-form-field-flex {
        padding: 0;
     }

    }
}

.forResponsive {
    display: inline-block;
}

.calender-box-resp {
    display: none;
    mat-form-field {
        width: 10%;
        margin: 0 5px;
        .mat-form-field-infix {
            position: none;
            width: 96px;
        }
     .mat-form-field-flex {
        padding: 0;
     }

    }
}

.send-otp-button {
    background: #3F93C2;
    color: #FFF;
    position: absolute;
    margin-left: 5px;
    width: 100px;
    font-size: 14px;
    font-weight: 700;
    height: 44px;
    border-radius: 3px;
    border: 2px solid #3F93C2;
}

.info-icon-position {
    margin-left: 10px;
    size: 10px;
    position: absolute;
    height: 20px;
    top: 19%;
    width: auto;
}