$font-stack: 'Open Sans', sans-serif;
$font-caps:'Raleway', sans-serif;
$letter-spacing:0.3px;
$body-bg:#F4F4F4;
$blue-color:#3F93C2;
$primary-color:#1E1E1E;
$txtcolor:#656565;
$fontSize: 14px;
$fontsize-nav:12px;
$fontsize-nav-sml:11px;
$fontweight-bold:700;
$fontweight-semibold:600;
$margin:10px;
$padding-10:10px;
$input-bg:#F4F4F4;
$border-color:1px solid #D8D8D8;
$border-color-dark:1px solid #656565;
$border-radius:3px;
$btn-bg-dark:#656565;
$bg-color-white:#FFF;
$text-color-white:#FFF;
$border-blur:1px solid #1893C7;
$dark-color:#8d8d8d;
$box-shadow:0 2px 7px 0 rgba(0, 0, 0, 0.1);
$bg-green:#B5DECA;
$bg-blue:#CBD6DC;
$bg-lit-blue:#BCDDE1;
$bg-pink:#CCCBDF;
$bg-poll-edit:#E4F3FF;

