<div class="margin-top-30"></div>
<div class="footer">
    <div class="container">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <p class="foot-txt">

                Copyright @ {{getYear()}} truNums
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 text-right">
            <div class="row">
                <div class="foot-links">
                    <a (click)="navtoPrivacyPolicy()">Privacy Policy</a>
                    <!-- <a ui-sref="signup.terms">Terms and Conditions</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    a {
        cursor: pointer;
    }
</style>