<skltn-root>
  <div *ngFor="let item of skltnArr">
    <div style="margin-top: 20px;" class="skltn-card">
      <div style="margin-left: 25px;" class="mt-20">
        <div  class="skltn-picture">
          <div skltn-bone type="circle" class="skltn-picture__img"></div>
          <div>
            <div skltn-bone class="skltn-picture__userName"></div>
            <div skltn-bone class="skltn-picture__place"></div>
          </div>
        </div>
        <div class="skltn-picture__caption col-lg-10 col-md-10 col-sm-10">
          <div skltn-bone class="skltn-picture__line"></div>
          <div skltn-bone class="skltn-picture__line"></div>
          <div skltn-bone class="skltn-picture__line"></div>
        </div>
      </div>
      </div>
    </div>

</skltn-root>