.displayPic{
    width:200px;margin:10px;
}
.videoClass{
    margin: 20px auto;
    float: none;
    // display: inline-block;
    text-align: center;
}

.btn-common.blue-border {
	border: 1px solid #3F93C2;
    color: #FFF;
    background: #3F93C2;
    font-weight: 600;
}
