<div class="forgot-bg">
  <div class="forgot-page">
    <div class="forgt-logo">
      <a [routerLink]="['/login']"><img src="../../assets/images/Overlay_Logo.png" alt="logo"/></a>
    </div>
    <div class="clear"></div>

    <form class="frgt-form"  [formGroup]="forgotPasswordForm" name="passwordForm" (ngSubmit)="sendPassword()">
      <h3>Forgot Password ?</h3>
      <div class="form-group"  [ngClass]="{'has-error': forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty}">
        <input type="email" class="form-control" placeholder="Email"  formControlName="email" name="email" required autocomplete="off"/>
          <p *ngIf="forgotPasswordForm.controls['email'].errors?.required" > Please enter Email Address</p>
          <p  *ngIf="forgotPasswordForm.controls['email'].errors?.email" class="error-msg">
            Please enter valid email address</p>
        <p *ngIf="emailErr" class="error-msg">
          {{emailErr}}</p>
      </div>
      <button type="button submit" class="sign-in pull-left">CONFIRM</button>
      <button type="button" class="sign-in pull-right btn-bg-white" [routerLink] = "['/forgot']" >CANCEL</button>
    </form>
  </div>
</div>
