// .modal-header {
//     text-align: center !important;
//     padding: 29px 16px !important;
//     background: #F4F4F4 !important;
// }

// .modal-header h4 {
//     color: #1E1E1E !important;
//     font-size: 16px !important;
//     font-weight: 500 !important;
// }

// .modal-footer {
//     text-align: center !important;
//     clear: both !important;
// }

// .modal-footer .btn-default {
//     border: 1px solid #83AECB !important;
//     color: #5293BD !important;
//     border-radius: 3px !important;
// }

// .modal-footer .btn-info {
//     background: #A8C9DE !important;
//     color: #FFF !important;
//     border: 2px solid #83AECB !important;
//     border-radius: 3px !important;
// }

// .modal-footer .btn {
//     width: 172px !important;
//     height: 46px !important;
//     font-size: 14px !important;
//     font-weight: 400px !important;
//     margin: 7px !important;
// }

// .modal-body {
//     padding: 10px 0 !important;
//     float: left !important;
//     width: 100% !important;
//     clear: both !important;
// }

// .tab-content {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// input {
//     width: 97%;
//     height: 48px;
//     padding: 7px 15px;
//     font-size: 16px;

// }
.poll-privacy-start {
    .modal-dialog {
    max-width: 600px;
    .modal-content {
        border-radius: 0;
        .modal-header {
            text-align: center;
            padding: 29px 16px;
            background: #F4F4F4;
            h4 {
                color: #1E1E1E;
                font-size: 16px;
                font-weight: 500;
            }
            .close {
                opacity: 1;
            }
        }
        .modal-body {
            padding: 10px 0;
            float: left;
            width: 100%;
            clear: both;
            .nav-tabs {
                padding-left: 20px;
                width: 100%;
                li {
                    a {
                        cursor: pointer;
                        border: none;
                        font-size: 12px;
                        color: #1E1E1E;
                        font-weight: 500;
                        text-transform: uppercase;
                        &:hover {
                            background: none;
                        }
                    }
                    &.active {
                        border-bottom: 2px solid #5293BD;
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    padding: 10px 0 10px 0;
                    float: left;
                    width: 100%;
                    background: #fff;
                    .mg-lft {
                        margin-left: 20px;
                        input {
                            width: 97%;
                            height: 48px;
                            padding: 7px 15px;
                            font-size: 16px;
                            color: #3B3B3B;
                        }
                    }
                }
                .brdr-btms {
                    border-bottom: 1px solid #E6E6E6;
                    margin: 12px 0 14px 0;
                    float: left;
                    width: 100%;
                }
                .mdl-ul {
                    list-style-type: none;
                    float: left;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    max-height: 200px;
                    overflow: auto;
                    position:relative;
                    li {
                        padding: 10px 0 8px 25px;
                        float: left;
                        width: 100%;
                        .mdl-img {
                            float: left;
                        }
                        .mdl-text-one {
                            float: left;
                            padding-left: 16px;
                            p {
                                margin: 0;
                                padding: 1px;
                                font-size: 14px;
                                color: #1E1E1E;
                                text-transform: capitalize;
                            }
                            .clr {
                                font-size: 12px;
                            }
                        }
                        &:hover {
                            background: #F0F6F9;
                        }
                    }
                    .mdl-bg-li {
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
        }
        .modal-footer {
            text-align: center;
            clear: both;
            .btn {
                width: 172px;
                height: 46px;
                font-size: 14px;
                font-weight: 400px;
                margin: 7px;
            }
            .btn-info {
                background: #A8C9DE;
                color: #FFF;
                border: 2px solid #83AECB;
                border-radius: 3px;
            }
            .btn-blue {
                background:#5293BD;
            }
            .btn-default {
                border: 1px solid #83AECB;
                color: #5293BD;
                border-radius: 3px;
                &:hover {
                    background: none;
                }
            }
        }
    }
}


.round {
    position: relative;
}

.round label {
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: #FFF;
    border: 2px solid #979797;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.round input {
    position: absolute;
    right: 0;
    opacity: 0;
    cursor: pointer;
    height: 56px;
    width: 100%;
    top: 0;
}

.round label::after {
    content: "";
    position: absolute;
    border: 2px solid #FFF;
    width: 11.99px;
    height: 7.77px;
    right: 6px;
    border-left: none;
    border-bottom: none;
    top: 8px;
    transform: rotate(122deg);
}

.round input[type="checkbox"]:checked+label {
    background: #5293BD;
    border-color: #5293BD;
}

.round input[type="checkbox"]:checked+label::after {
    opacity: 1;
}
.mdl-bg-li {
    float: left;
    width: 100%;
    padding-left: 24px;
}
}